﻿
<%@ Page Language="vb" AutoEventWireup="false" Inherits="PeiWebAccess.desactive_eleve" CodeFile="desactive_eleve.aspx.vb" %>
<%@ Register TagPrefix="uc1" TagName="menu_top" Src="menu_top.ascx" %>
<%@ Register TagPrefix="cc1" Namespace="sstchur.web.SmartNav" Assembly="sstchur.web.SmartNav" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>- Liste des Eleves- </title>
		<LINK href="styles.css" type="text/css" rel="stylesheet">
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		
	</HEAD>
	<body leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0">
				<TR>
					<TD><uc1:menu_top id="Menu_top1" runat="server"></uc1:menu_top></TD>
				</TR>
				<TR>
					<TD class="titleOnglet">Retirer l'élève de la liste des pei</TD>
				</TR>
              <TR>
					<TD>Sélectionnez l'élève a retirer
                        </TD>
				</TR>
                <TR>
					<TD>
                        <asp:DropDownList ID="DropDownList1" runat="server">
                        </asp:DropDownList>
                        </TD>
				</TR>
				<TR>
					<TD>
                        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label><asp:CheckBox ID="CheckBox1"
                            runat="server" /></TD>
				</TR>
                <TR>
					<TD>
                        <asp:Button ID="Button1" runat="server" Text="Supprimer l'élève de la liste" /> 
                        <br />
                        <asp:Label ID="LabelMsg" runat="server"></asp:Label>
                    </TD>
				</TR>
        </TABLE>
		</form>
	</body>
</HTML>
