<%@ Register TagPrefix="uc1" TagName="menu_top" Src="menu_top.ascx" %>
<%@ Register TagPrefix="cc1" Namespace="Microsoft.Samples.ReportingServices" Assembly="ReportViewer" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="PeiWebAccess.report3" CodeFile="report3.aspx.vb" %>
<%@ OutputCache Duration="1" VaryByParam="None" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>report2</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
		
		    <uc1:menu_top id="Menu_top1" runat="server">
		    </uc1:menu_top>
		    
            <cc1:reportviewer id="ReportViewer1" style="Z-INDEX: 101; LEFT: 0px; POSITION: absolute; TOP: 24px"
				runat="server"  ServerUrl="http://ss-sql-01/ReportServer/"  target="_blank" ReportPath="/CSDCCS/EED/PEI_CSDCCS_09&rs:Command=Render&rc:Parameters=false" Width="688px" Height="408px" Toolbar="False" Format="PDF">
			</cc1:reportviewer>
 
		</form>
		
		
		
	</body>
</HTML>
