﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="testjcriptvalidation.aspx.vb" Inherits="testjcriptvalidation" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <input id="Submit1" type="submit" value="submit" onclick="testjs()" /></div>
    </form>
</body>

<script type="text/javascript">

//$(document).ready(function() {
 //          $('#<%= TextBox1.ClientID %>').change(testjs);             
  //     });

    function testjs() 
    {
        var val = document.getElementById('<%=TextBox1.ClientID%>').value;

        alert(val);
        var newval = Number(val);
       
        alert(!isNaN(parseFloat(val)));
        if (!isNaN(parseFloat(val)) == true)
        {
        alert("save data..");
        }

        else 
        
        {
        alert("veuillez entrer un nombre entiers (secondes)");
        }

        if (val > 100) {
            alert("le temps ssemble etre ok..");
                        }
   }
                      
       function isInteger(x) {
           alert("type of" + ": " + (typeof x));
       if (typeof x === 'number') {
           // data is an integer
           alert("data is integer");
       }
                        }
</script>
</html>
