﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="trillfix.aspx.vb" Inherits="admin_trillfix" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Button1" runat="server" 
            Text="transfère mode transportation (20092010 à 20102011)" Width="326px" />
    
    </div>
    </form>
</body>
</html>
